<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>pure-lexicon-skeleton</title>
    <link href="assets/css/app.css" rel="stylesheet">
    <link href="assets/vendor/angular/angular-csp.css" rel="stylesheet">
    <link href="assets/vendor/angular-material/angular-material.css" rel="stylesheet">
    <script src="assets/vendor/angular/angular.js"></script>
    <script src="assets/vendor/angular-animate/angular-animate.js"></script>
    <script src="assets/vendor/angular-aria/angular-aria.js"></script>
    <script src="assets/vendor/angular-material/angular-material.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/services/ApiService.js"></script>
    <script src="assets/js/controllers/MainController.js"></script>
</head>
<body ng-app="pure-lexicon">
    <div ng-controller="MainController as ctrl" layout="column" ng-cloak class="md-inline-form">
        <md-content layout-padding>
            <form name="mainForm" ng-submit="$event.preventDefault()">
                <md-autocomplete ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                                 md-search-text="ctrl.searchText" md-selected-item-change="ctrl.showShowForm($event, item)" md-items="item in ctrl.querySearch(ctrl.searchText)"
                                 md-item-text="item.title" md-min-length="0" placeholder="поиск/фильтр" md-menu-class="autocomplete-custom-template">
                    <md-item-template>
                        <span class="item-title">
                            <md-icon md-svg-icon="assets/images/dictionary.svg"></md-icon>
                            <span> {{item.title}} </span>
                        </span>
                        <span class="item-metadata">
                            <span class="item-metastat">
                                – Альтернатив: <strong>{{item.altcount}}</strong>
                            </span>
                            <span class="item-metastat">
                                Сокральность: <strong>{{item.rating}}</strong>
                            </span>
                        </span>
                    </md-item-template>
                </md-autocomplete>
            </form>
        </md-content>
        <md-content layout="column" layout-padding>
            <div layout="column">
                <div>
                    <md-toolbar layout="row" class="md-hue-3">
                        <div class="md-toolbar-tools">
                            <span>Слова, словосочетания, выражения</span>
                        </div>
                    </md-toolbar>
                    <md-content ng-init="ctrl.loadPhrases()">
                        <md-list class="md-dense" flex>
                            <md-list-item class="md-2-line" ng-repeat="item in ctrl.phrases" ng-click="ctrl.showShowForm($event, item)">
                                <md-divider></md-divider>
                                <div class="md-list-item-text">
                                    <div layout="row">
                                        <span ng-bind="item.title" flex></span>
                                        <div class="rating-counter" flex="nogrow">
                                            <md-icon md-svg-src="assets/images/thumb-up.svg" aria-label="incrase-socrality" class="md-mini" ng-click="ctrl.incrementRating($event, item)"></md-icon>
                                            <strong>{{item.rating}}</strong>
                                            <md-icon md-svg-src="assets/images/thumb-down.svg" aria-label="decrase-socrality" class="md-mini" ng-click="ctrl.decrementRating($event, item)"></md-icon>
                                        </div>
                                    </div>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </div>
            </div>
        </md-content>
        <md-button class="md-fab add-word-button" ng-click="ctrl.showAddForm($event)" aria-label="Add word">
            <md-icon md-svg-src="static/images/dictionary.svg"></md-icon>
        </md-button>

        <div style="visibility: hidden">
            <div class="md-dialog-container" id="showForm">
                <md-dialog aria-label="Show word">
                    <form ng-cloak>
                        <md-toolbar>
                            <div class="md-toolbar-tools">
                                <h2>{{ctrl.selectedPhrase.title}}</h2>
                                <span flex></span>
                                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                                    <md-icon md-svg-src="static/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-dialog-content>
                            <div class="md-dialog-content">
                                <md-toolbar layout="row" class="md-hue-5">
                                    <div class="md-toolbar-tools">
                                        <span>Использование</span>
                                    </div>
                                </md-toolbar>
                                <md-content flex layout-padding>
                                    <p>{{ ctrl.selectedPhrase.description }}</p>
                                </md-content>
                                <md-toolbar layout="row" class="md-hue-5">
                                    <div class="md-toolbar-tools">
                                        <span>Альтернативы</span>
                                    </div>
                                </md-toolbar>
                                <md-list class="md-dense" flex>
                                    <md-list-item class="md-2-line" ng-repeat="item in ctrl.selectedPhrase.alternatives">
                                        <md-divider></md-divider>
                                        <div class="md-list-item-text">
                                            <div layout="row">
                                                <span ng-bind="item.title" flex></span>
                                                <div class="rating-counter" flex="nogrow">
                                                    <md-icon md-svg-src="assets/images/thumb-up.svg" aria-label="incrase-rating" class="md-mini" ng-click="ctrl.incrementRating($event, item)"></md-icon>
                                                    <strong>{{item.rating}}</strong>
                                                    <md-icon md-svg-src="assets/images/thumb-down.svg" aria-label="decrase-rating" class="md-mini" ng-click="ctrl.decrementRating($event, item)"></md-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </div>
                        </md-dialog-content>
                        <md-dialog-actions layout="row">
                            <md-button ng-click="ctrl.cancel()">Cancel</md-button>
                        </md-dialog-actions>
                    </form>
                </md-dialog>
            </div>
        </div>

        <div style="visibility: hidden">
            <div class="md-dialog-container" id="addForm">
                <md-dialog aria-label="Добавить слово">
                    <form ng-cloak>
                        <md-toolbar>
                            <div class="md-toolbar-tools">
                                <h2>Добавить слово</h2>
                                <span flex></span>
                                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                                    <md-icon md-svg-src="static/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-dialog-content>
                            <div class="md-dialog-content">
                                <md-input-container class="md-block">
                                    <label>Слово</label>
                                    <input ng-model="ctrl.newWord.title">
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Описание</label>
                                    <textarea ng-model="ctrl.newWord.description" rows="5" md-select-on-focus></textarea>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Слово для замены</label>
                                    <input ng-model="ctrl.newWord.alternative">
                                </md-input-container>
                            </div>
                        </md-dialog-content>
                        <md-dialog-actions layout="row">
                            <md-button ng-click="ctrl.cancel()">Отмена</md-button>
                            <md-button ng-click="ctrl.save()">Сохранить</md-button>
                        </md-dialog-actions>
                    </form>
                </md-dialog>
            </div>
        </div>
    </div>
</body>
</html>