<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>pure-lexicon-skeleton</title>
    <link href="assets/vendor/angular/angular-csp.css" rel="stylesheet">
    <link href="assets/vendor/angular-material/angular-material.css" rel="stylesheet">
    <script src="assets/vendor/angular/angular.js"></script>
    <script src="assets/vendor/angular-animate/angular-animate.js"></script>
    <script src="assets/vendor/angular-aria/angular-aria.js"></script>
    <script src="assets/vendor/angular-material/angular-material.js"></script>
</head>
<body ng-app="pure-lexicon-skeleton">
<div ng-controller="DictionaryController as ctrl" layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding>
        <form name="mainForm" ng-submit="$event.preventDefault()">
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Слово</label>
                    <input ng-model="word" required>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Вес</label>
                    <input ng-model="size" placeholder="12345"
                           required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                </md-input-container>
            </div>
            <md-autocomplete
                    ng-disabled="ctrl.isDisabled"
                    md-no-cache="ctrl.noCache"
                    md-selected-item="ctrl.selectedItem"
                    md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                    md-search-text="ctrl.searchText"
                    md-selected-item-change="ctrl.selectedItemChange(item)"
                    md-items="item in ctrl.querySearch(ctrl.searchText)"
                    md-item-text="item.name"
                    md-min-length="0"
                    placeholder="Выбери слово для замены"
                    md-menu-class="autocomplete-custom-template">
                <md-item-template>
                          <span class="item-title">
                            <md-icon md-svg-icon="assets/images/test.svg"></md-icon>
                            <span> {{item.name}} </span>
                          </span>
                          <span class="item-metadata">
                            <span class="item-metastat">
                              <strong>{{item.size}}</strong> вес
                            </span>
                            <span class="item-metastat">
                              <strong>{{item.rating}}</strong> рейтинг
                            </span>
                          </span>
                </md-item-template>
            </md-autocomplete>
        </form>
    </md-content>
    <md-list-item class="md-3-line" ng-repeat="item in todos" ng-click="null">
        <img ng-src="assets/images/dictionary.svg?{{$index}}" class="md-avatar" alt="Вариант" />
        <div class="md-list-item-text" layout="column">
            <h3>{{ item.word }} - {{ item.change }} - {{ item.size }}</h3>
        </div>
    </md-list-item>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-fab md-primary" aria-label="Добавить">
        </md-button>
    </section>
</div>
<script>
    angular.module('pure-lexicon-skeleton', ['ngMaterial'])
            .controller('DictionaryController', function ($scope, $log) {
                $scope.size = 0;
                $scope.word = '';
                $scope.todos = [{
                    'word': 'Язь',
                    'change': 'Есть',
                    'size': 5
                }];

                var self 		= this;
                self.simulateQuery 	= false;
                self.isDisabled    	= false;
                self.repos         	= loadAll();
                self.querySearch   	= querySearch;
                self.selectedItemChange = selectedItemChange;
                self.searchTextChange   = searchTextChange;

                // ******************************
                // Internal methods
                // ******************************

                /**
                 * Search for repos... use $timeout to simulate
                 * remote dataservice call.
                 */
                function querySearch (query) {
                    var results = query ? self.repos.filter( createFilterFor(query) ) : self.repos,
                            deferred;
                    if (self.simulateQuery) {
                        deferred = $q.defer();
                        $timeout(function () { deferred.resolve( results ); }, Math.random() * 1000, false);
                        return deferred.promise;
                    } else {
                        return results;
                    }
                }

                function searchTextChange(text) {
                    $log.info('Text changed to ' + text);
                }

                function selectedItemChange(item) {
                    $log.info('Item changed to ' + JSON.stringify(item));
                }

                /**
                 * Build `components` list of key/value pairs
                 */
                function loadAll() {
                    var repos = [
                        {
                            'name'      : 'Грация',
                            'url'       : 'http://purecon.tk/',
                            'size'      : '3,623',
                            'rating'    : '16,175'
                        }
                    ];

                    return repos.map( function (repo) {
                        repo.value = repo.name.toLowerCase();
                        return repo;
                    });
                }

                /**
                 * Create filter function for a query string
                 */
                function createFilterFor(query) {
                    var lowercaseQuery = angular.lowercase(query);
                    return function filterFn(item) {
                        return (item.value.indexOf(lowercaseQuery) === 0);
                    };
                }
            });
</script>
</body>
</html>
